
@import '../../../../assets/variables';
@import '../../../../assets/mixin';
.step2{
    height: auto;
    width: 800px;
    // background-color: beige;
    // background-image: url("../../../../assets/images/form2.png");
    // background-size: cover;
    // background-position-y: -50px;
    transition: all .25s ease-in-out;
    @include displayFlex();
    // border: 1px solid $color2;
    padding: 1rem 4.5rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    // border-radius: 10px;

    h3{
        text-transform: uppercase;
        color: $titleColor;
    }
    &__line{
        width: 100%;
        height: auto;
        @include displayFlex();
    }
    &__line label {
        color: $titleColor!important;
        font-size: 22px!important;
    }
    &__title{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-weight: 700;
    }
    &__input{
        width: 100%!important;
    }
    .MuiInputBase-input{
        height: 2em;
    }
    &__multi-line{
        @include displayFlex(row,wrap,space-between,center);
        gap: 0 1rem;
    }
    &__small-input{
        width: calc(50% - 1rem);

        label{
            font-size: 19px!important;
        }
    }
}
@media (max-width: 992px){
    .step2{
        padding: 0;
    }
}
@media (max-width: 650px){
    .step2{
        padding: 0 2rem;
        padding-bottom: 2rem;
        width: 380px!important;
        flex-wrap: wrap;
    }
}
@media (max-width: 450px){
    .step2{
        width: 300px!important;
        flex-wrap: wrap;
        padding: 1rem 1.5rem;
        &__multi-line{
            width: 100%;
            flex-direction: column;
        }
        &__small-input{
            width: 100%!important;
            label{
                font-size: 19px!important;
            }
        }
    }
}
@media (max-width: 380px){
    .step2{
        width: 280px!important;
        margin: 0;
        padding: 0!important;
    }
}
// @media (max-width: 320px){
//     .step2{
//         border: none;
//         padding: 0.5rem;
//         width: 240px!important;

//     }
// }