    a{
        text-decoration: none;
    }
  .nav-item {
    width: 100%;
  }
  $textPrimary: #b6b6b6;
  $textSecondary: #ffffff;
  $black : rgb(19, 19, 19);
  $bgPrimary: #f4f4f4;
  $bgSecondary: #e4e4e4;
  $transitionSpeed: 300ms;
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0.25rem 0;
    color: $textPrimary;
    text-decoration: none;
    // filter: grayscale(100%) opacity(0.7);
    transition: $transitionSpeed;
    text-transform: uppercase;
    font-weight: bold;
  }
  .nav-link i {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.25rem;
    font-size: 25px;
    padding: 5px 1px;
    color: white;
    border-radius: 3px;
  }
  
  .nav-link:hover {
    // filter: grayscale(0%) opacity(1);
    background: $bgSecondary;
    color: $black;
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }