@import '../../../../assets/variables';
@import '../../../../assets/mixin';
.paper-tabs{
    margin-left: $leftMenu;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 0 5px silver;
    width: 90%;
    height: auto;
    margin-left: 0;
    // padding: 0 7rem;
    height: auto;
    margin-bottom: 3rem;

    // @include glassmorphism;

    &__tabs{
        background: white;
        color: $textColor;
    }
    // &__test{
    //     justify-content: center;
    //     border: none;
    //     outline: none;
    //     box-shadow: none;
    // }
}
.PrivateTabIndicator-colorSecondary-8 {
    background-color: #5392f9!important;
}
.MuiTabs-flexContainer {
    justify-content: center;
    button {
        width: 50%;
        color: $color1;
    }
}
.MuiPaper-elevation4{
    box-shadow:none!important;
}
// .PrivateTabIndicator-colorSecondary-6,
// .PrivateTabIndicator-root-7, 
// .PrivateTabIndicator-colorSecondary-9,
.MuiTabs-indicator {
    background-color: $color1!important;
}

@media screen and (max-width: 1680px){
    .paper-tabs{
        padding: 0 3rem!important;
    }
}
@media screen and (max-width: 767px){
    .paper-tabs{
        padding: 0!important;
    }
}