
@import '../../assets/variables';
.favorite-list{
    margin-left: $leftMenu;
    padding: 0 7rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: $headerHeigh;
    margin-bottom: 3rem;
    h1{
        // margin-bottom: 0;
    }
    &__list-item,
    &__suggestions{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 1rem;
    }

}

@media (max-width: 1440px){
    .favorite-list{

        &__list-item,
        &__suggestions{
            justify-content: center;
        }
    }
}

@media (max-width: 1240px){
    .favorite-list{
        margin-left: 0;
        padding: 1rem;

        &__p{
            margin-left: 2.5rem;
            margin-bottom: 1rem;   
        }
        &__list-item,
        &__suggestions{
            justify-content: flex-start;
            margin-left: 5rem;
        }
    }
}
@media (max-width: 1024px){
    .favorite-list{
        margin-top: 160px;
    }
}

@media (max-width: 768px){
    .favorite-list{
        margin-left: 0;
        padding: 0;
        margin-top: 90px;
        &__p{
            margin: 0.5rem auto;
        }

        &__list-item,
        &__suggestions{
            justify-content: center;
            margin-left: 0rem;
        }
    }
}
@media (max-width: 700px){
    .favorite-list{
        margin-top: 80px!important;
    }
}
