@import '../../assets/variables';


.post-page{
    text-align: center;
    margin-left: $leftMenu;
    padding : 0 7rem;
    margin-top: calc(#{$headerHeigh} + 30px);
    .paper-tabs{
        padding: 0!important;
    }
    
    h1{
        margin: 2rem 0!important;
        color: #20274d;
        text-transform: uppercase;
    }

}
@media (max-width: 1240px){
    .post-page{
        padding : 0 3rem!important;
        margin-left: 0!important;
        padding: 0!important;
        margin-top: 150px;
    }
}
@media (max-width: 768px){
    .post-page{
        margin-top: 100px;
    }
}
@media (max-width: 600px){
    .post-page {
        padding: 0 1rem!important;
        margin-top: 100px;
        h1{
            font-size: 25px!important;
        }
    }
}
