  @import '../../../../assets/variables';
  
  $textPrimary: #b6b6b6;
  $textSecondary: #ffffff;
  $black: rgb(19, 19, 19);
  $bgPrimary: #ffffff;
  $bgSecondary: #f0f0f0;
  $transitionSpeed: 100ms;
  

  .left-menu{
    height: $menuHeight;
    width: 100vw;
    &__navbar {
      width: 100vw!important;
      height: $menuHeight!important;
      background-color: white;
      transition: width 200ms ease;
      overflow: hidden;
      box-shadow: 1px 0 3px rgb(199, 199, 199);

    }


    &__navbar-nav {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      justify-content: center!important;
      gap: 0 2rem;
    }

    a {
      text-decoration: none;
    }

    .nav-item {
      color: $backgroundColor;
    }
    .nav-item:hover {
      // width: 100%;
      color: red!important;
    }
    span.link-text{
      color: rgb(240, 240, 240);
      color: $backgroundColor;
    }
    .nav-item:hover span.link-text{
      color: $backgroundColor;
    }
    
    // .nav-item:last-child {
    //   margin-top: auto;
    // }
    
    .nav-link {
      display: flex;
      align-items: center;
      height: $leftMenu;
      // padding: 0.25rem 0;
      color: $textPrimary;
      text-decoration: none;
      // filter: grayscale(100%) opacity(0.7);
      transition: $transitionSpeed;
      text-transform: uppercase;
      font-weight: 400;
    }
    
    .nav-link:hover {
      // filter: grayscale(0%) opacity(1);
      background: $bgSecondary;
      color: $backgroundColor;
    }
    
    .link-text {
      // display: none;
      margin-left: 1rem;
      color: #64707c!important;
      transition: color .25s ease;
    }
    a.nav-link:hover .link-text,
    a.nav-link:hover svg{
      color: $color2!important;
    }
    
    .nav-link i {
      width: 2rem;
      min-width: 2rem;
      margin: 0 1.25rem;
      font-size: 25px;
      padding: 5px 1px;
      color: white;
      border-radius: 3px;
      

      display: flex;
      justify-content: center;
    }

  }

  
  /* Small screens */
  @media screen and (max-width: 1240px) {
    .left-menu__navbar {
      top: $headerHeigh;
      margin-top: 0!important ;
      height: unset!important;
      background: white;
      box-shadow: 1px 2px 4px rgb(230, 229, 229);
    }
  
    // .logo {
    //   display: none;
    // }

    a.nav-link{
      display: flex;
      justify-content: center;
    }
    .left-menu span.link-text{
      font-size: 12px!important;
      margin-left: 0!important;
    }
    svg{
      margin: 0!important;
    }
  
    .left-menu__navbar-nav {
      flex-direction: row;
      justify-content: center;
    }
    .left-menu__navbar-nav:hover{
      background: white;
    }
    
    .nav-link {
      justify-content: center;
    }
    
    li.nav-item{
      width: 120px!important;
    }
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 1240px) {
    .left-menu__navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
      margin-top: 0 ;
      height: unset;
    }
    .left-menu__navbar{
      margin-top: 0 ;
      height: 0;
    }
  
    .left-menu__navbar:hover {
      width: 16rem;
    }
  
    .left-menu__navbar:hover .link-text {
      display: inline;
    }
  
  
    .left-menu__navbar:hover .logo-text
    {
      left: 0px;
    }
  }

  @media (max-width: 1200px){
    .left-menu__navbar-nav{
      height: 3rem;
    }
    // li.nav-item{
    //   flex: 1;
    // }
    .left-menu .nav-item:last-child{
      margin-top: 0;
    }
  }
@media (max-width: 992px){
  .nav-item--hidden{
    display: none;
  }
  .left-menu span.link-text{
    display: none;
  }
}
@media (max-width: 479px){
  .left-menu__navbar-nav{
    justify-content: flex-start;
    gap: 0;
  }
}