
.contact {
    // transform: translateX(100px);
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    &__content {
        margin: 0 auto;
        padding: 7rem;
        display: flex;
    }
    // min-height: auto;
}

@media (max-width:1024px){
    .contact{
        display: contents;
        transform: none;
        margin-bottom: 15rem;
        &__content {
            padding: 7rem 2rem;
            display: grid;
            .contact__info {
                width: 100%;
                transform: none;
                &__title {
                    margin-left:10px;
                    justify-content: flex-start;
                }
                .contact__intro{
                    transform: none;
                    margin: auto;
                }
                .contact__other{ 
                    width: 20rem;
                    transform: none;
                    padding: 20px 29px;
                    margin: auto;
                    &--style {
                        background: rgb(86, 145, 246);
                        color: #fff;
                }
                }
            }
            .contact__form {
                margin:0 10px;
                width: 100%;
                transform: none;
                &-in {
                    width: auto;
                    margin-right: 20px; 
                    left: -25;
                }
            }
        }
    }
}