.contact__info {
    width:50%;
    &__title {
        display:grid;
        justify-content: center;
        &--h1{
            font-size: 3em;
            font-weight: 600;
            color: #20274d;
            margin: 20px 0;
        }
        &--p {
            font-size:1.1rem;
            font-weight: 500;
        }
    }
    .contact__intro{
        transform: translate(160px);
        margin: 70px 0;
        &--style {
            display: flex;
            padding: 16px 20px;
            width: 20rem;
            border-radius: 15px;   
            margin:10px 0;
            transition: 0.25s ease-in-out;
            cursor: pointer;
            .contact__icon {
                margin-right:20px;
                color: blue;
            }
            .contact__text {
                font-size:1.1rem;
                font-weight: 500;
            }
        }
        &--style:hover {
            border: 3px solid blue;
            background: rgb(243, 240, 240);

        }
    }
    .contact__other {
        display: flex;
        transform: translate(110px, 10px);
        width: 25rem;
        justify-content: center;
        &--style {
               /* margin: 0 25px; */
            padding: 20px 29px;
            transition: 0.3s ease-in-out;
            border-radius: 50%;
            cursor: pointer;
            font-size: 1.5rem;
            margin: 0 auto;
        }
        &--style:hover {
            background: rgb(86, 145, 246);
            color: #fff;
        }
    }
}