
@import '../../assets/variables';
.not-found{
    height: calc(100% - #{$headerHeigh});
    width: 100%;
    overflow: hidden;
    // padding: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 100px;
    color: $gray1;

    p{
        margin: 0;
    }
}
@media (max-width: 1240px){
    .not-found{
        margin-left: 0!important;
        margin-right: 0!important;
    }
}
@media (max-width: 720px){
    .not-found{
        font-size: 80px;
        height: 500px;
    }
}
@media (max-width: 500px){
    .not-found{
        font-size: 45px;
    }
}