@import '../../../../assets/variables';
.rent-page{
    display: flex;
    flex-direction: row;
    gap: 0 10px;

    &__option{
        width: 375px!important;
    }

    &__list-items{
        height: auto;
        // width: calc(100% - #{$optionDropdownWidth});
        flex: 6;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    }
}
@media screen and (max-width: 1680px){
    .rent-page{
        // flex-direction: column;
    }
}