@import '../../../../assets/mixin';
@import '../../../../assets/variables';

$green : rgb(30, 182, 30);
.step1{
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    @include displayFlex();

    h2{
        text-transform: uppercase;
        margin: 0;
        color: $titleColor;
    }

    &__wrapper{
        height: auto;
        @include displayFlex(row);
        gap: 0 1rem;
        @include padding(2rem 0);
    }

    &__block{
        width: 250px;
        height: 300px;
        @include displayFlex();
        background: white;
        border-radius: 3px;
        border: 1px solid $green;
        cursor: pointer;
        transition: all .25s;
        text-transform: uppercase;

        &:hover,
        &.active{
            background: $green;
            transform: scale(1.05);
            color: white!important;
        }
        img{
            width: 80px;
        }
    }
}
@media (max-width: 768px){
    .step1{
        &__wrapper {
            flex-wrap: wrap;
            gap: 0 1rem;
        }
        &__block{
            height: 200px;
            width: 100%;
        }
    }
}