@import '../../../../assets/variables';
.custom-option{
    // width: $optionDropdownWidth;
    flex: 2;
    transition: .25s;

    &__option--basic{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem 0;
    }
    &__option--wrapper{
        width: 100%;
        display: flex;
        // flex-direction: column;
        gap: 0.5rem 0;
    }
    &__search{
        width: 100%!important;
    }
    &__controller{
        display: flex;
        gap: 0 1rem;

        & > * {
            width: 150px;
        }
    }

    &__test{
        justify-content: flex-start;
    }

    &__btn{
        width: 50%;
        height: 50px;
    }
}
.MuiFormGroup-row {
    margin: -5px 0;
    margin-left: 15px;
}
.MuiAccordionSummary-root {
    background: white!important;
}
.MuiAccordionSummary-content:first-of-type {
    justify-content: center;
    color: black;
}
.MuiAccordionSummary-content{
    gap: 0 10px;
}
.custom-option__option--wrapper {
    padding: 0px;
}
.MuiAccordionSummary-content:first-of-type {
    grid-gap: 0 10px;
    gap: 0 10px;
    justify-content: flex-start;
}

@media (max-width: 1240px){
    .custom-option {
        flex: 3;
    }
}
@media (max-width: 1023px){
    // .custom-option {
    //     display: none;
    // }
}
