
$bg-img: url('../../assets/images/genshin_12_4K.jpg');

.intro {
    h1 {
        color: #002a61;
        font-weight: 600;
        font-size: 3rem;
        opacity: 0.8;
    }
    p {
        color: #002a61;
        font-weight: 500;
        line-height: 30px;
        margin: 0;
    }
    h3, h4, span {
        color: #00204b;
        font-weight: 500;
    }
    a{
        text-decoration: none;
        color: white;
        font-weight: 500;
    }

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: $bg-img!important;
    background-size: cover;
    overflow: hidden;

    &__nav {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    &__nav p,
    &__nav h2,
    &__nav a{
        color: white!important;
        opacity: 1;
        font-weight:500;
        cursor: pointer;
        transition: .25s;
    }

    &__nav a:hover
    {
        padding: 0.7rem 1rem!important;
        padding-bottom: 1rem!important;
        border-radius: 10px;
        background-color: white;
        color: #002a61!important;
    }

    &__nav a:hover{
        // padding: 0.5rem 1.2rem;
    }

    &__logo{
        flex: 2;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
    }

    &__menu{
        flex: 5;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 2rem;
    }

    &__auth{
        flex: 2;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 3rem;
    }

    &__main {
        flex: 9;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent;
    }

    &__title {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    &__title h1, 
    &__title p{
        opacity: 1;
        margin-bottom: 0;
    }

    &__form--wrapper {
        flex: 6;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__search--form {
        height: 10rem;
        width: 70rem;
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 5px;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        /* backdrop-filter: blur(4px); */
    }

    &__wrapper{
        flex: 1;
        padding-left: 50px;

        p{
            margin: 0px 7px!important;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    &__redirect-btn {
        height: 100%;
    }
    &__button{
        height: 100%;
        width: 150px;
        background-color: orange!important;
        text-transform: uppercase;
        border-radius: 0 3px 3px 0!important;

        > * {
            color: white!important;
        }
    }
}











