
@import "../../assets/variables";
@import "../../assets/mixin";

.header{
    margin: 0;
    padding: 0!important;
    margin-left: $leftMenu;
    height: $headerHeigh;
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    // overflow: hidden;

    background: white;
    border-top: none!important;
    border-bottom: 1px solid rgb(223, 223, 223);

    *, &__menu-item{
        font-family: "Segoe UI"!important;
    }
    &::-webkit-scrollbar{
        display: none!important;
    }
    & .MuiSelect-iconOutlined{
        margin-right: -10px!important;
    }

    &__side-menu{
        display: none;
    }
    &__icon {
        border: none;
        outline: none;
        height: 100%;
        background: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gray1;
        border-radius: 3px 0 0 3px;

    }
    &__logo{
        height: 100%;
        flex: 1;
        color: $color1;
        font-weight: bold;
        margin-left: 25px;

        display: flex;
        justify-content: center;
        align-items: center;

        a{
            text-decoration: none!important;
            color: unset;
            font-size: 30px;
            // font-family: "Poppins","Roboto";
        }
    }
    &__form , &__form--sub{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64%;
        width: 70%;
        gap: 10px;
     
    }
    
    &__search--wrapper{
        width: 350px;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include inputBorder();

         div{
            flex: 1;
        }

         input {
            flex: 8;
            height: 100%;
            outline: none;
            border: none;
            font-size: 17px;
            border-radius: 0 3px 3px 0;
            padding: 0;
            padding-right: 0.5rem;
            cursor: unset!important;
        }
    }

    &__select--wrapper {
        height: 80%;
        width: 180px;
        display: flex;
        align-items: center;
        background: white;
        border-radius: 3px;
        box-sizing: border-box;
        padding: 10px;
        @include inputBorder();
         .header__icon{
            // width: 40px;
            flex: 1;
            i{
                color: $gray1;
                font-size: 23px;
            }
        }
         
    }
    &__select--content{
        flex: 4;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 15px;
        cursor: pointer;

        * {
            flex: 1;
            outline: none;
            border: none;
            margin: 0;
        }
        p{  transform: translateX(3px);  }
        select {
            font-size: 15px;
            cursor: pointer;
            width: 100%;
        }
    }

    button{
        height: 45px;
        width: 110px;
        outline: none;
        border: none;
        cursor: pointer;
        // background: $color2;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        border-radius: 3px;
        font-size: 12px;
    }
    &__menu-search{
        height: 100%;
        flex: 1;
        @include displayFlex(row);
        gap: 5px;
    }
    &__menu,
    &__search,
    &__login{
        height: 50px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0!important;
        text-decoration: none;

        svg{
            color: #5392f9;
            font-size: 30px;
        }
    }
    // &__login button{
    //     border: 1px solid $color2!important;
    // }
    &__filter{
        display: none;
        // border: 1px solid $color2!important;
        margin-right: 1rem;
        border-radius: 3px;
    }
    &__menu{
        display: none;
    }
}
@media (max-width: 1440px){
    .header{
        margin-left: 0!important;

        &__form{
            width: 60%;
            display: none;
        }
        &__filter{
            display: block;
        }
        &__search--wrapper{
            display: none;
        }
        &__search ,
        &__menu {
            pointer-events: all;
            width: 50px;
            svg{
                color: $color1;
            }
        }
    }
}

@media (max-width: 1024px){
    .header{
        flex-wrap: wrap;

        &__form {
            width: 50%;
            
            .header__select--wrapper,button{
                display: none;
            }
        }
        &__form--sub{
            display: flex;
            width: 100%;
            margin-top: -1px!important;
            padding: 0.3rem;
        }
        &__search ,
        &__menu {
            pointer-events: all;
            width: 50px;
            svg{
                color: $color1;
            }
        }
    }
    
}
@media (max-width: 767px){
    .header{
        padding: 0 2rem;
        box-sizing: border-box;
        flex-wrap: wrap;

        &__logo{
            margin-left: 10px;
            justify-content: flex-start;
            
            a{
                font-size: 25px!important;
            }
        }
        &__side-menu{
            display: block;
            flex: 0.5;
            height: 100%;
        }
        &__search--wrapper{
            display: none!important;
        }
        &__login{
            display: none;
        }
        &__form{
            display: none;
        }
        &__form--sub{
            display: none!important;
            display: flex;
            width: 100%;
            margin-top: 15px;
            padding: 0.2rem!important;
        }
        &__select--wrapper{
            box-shadow: 3px 0  15px $gray1;
        }
        &__icon{
            border-radius: 3px;
        }

        &__button{
            width: 50px!important;
        }
        &__menu-search{
            justify-content: flex-end;
        }
        &__menu{
            display: flex;
        }
        &__side-menu{
            flex: 0.25;
        }
        &__search svg,
        &__menu svg{
            color: $color1;
        }
        &__logo{
            justify-content: flex-start;
        }
    }
}

@media (max-width: 550px){
    .header{
        height: 70px;
        &__login{
            display: none;
        }
        &__form{
            display: none;
            justify-content: flex-end;
            width: 50px;
        }
        &__form--sub{
            display: none;
        }
        &__menu-search{
            justify-content: flex-end;
            // padding-right: 1rem;
        }
        &__search--wrapper{
            width: 50px;
            height: 40px;

            input {
                flex: 0.5!important;
            }
            ::placeholder{
                font-size: 13px;
                color:#64707c;
            }
        }
        &__icon{
            width: 50px!important;
            border-radius: 3px;
            display: none;
        }
    }
}
@media (max-width: 450px){
    .header{
        &__search--wrapper{
            width: 50px;

            input{
                display: none;
            }
        }
        &__icon{
            border-radius: 3px;
            transform: translateX(120%);
        }
        &__side-menu{
            flex: 0.35;
        }
    }
}
@media (max-width: 350px){
    .header{
        &__logo{
            margin-left: 10px;
            a{
                font-size: 25px!important;
            }
        }
        &__menu-search div svg,
        &__menu-search a svg{
            font-size: 25px;
        }
    }
}