
@import '../../assets/variables';
@import '../../assets/mixin';
.user-info{
    margin-left: $leftMenu;
    padding: 0 7rem;
    margin-top: $headerHeigh;
    margin-bottom: 3rem;
    text-align: center;
    @include displayFlexColumnCenter;
    
    h1{
        text-transform: uppercase;
        margin: 2rem;
    }
}
@media (max-width: 1240px){
    .user-info{
        margin: 0;
        padding: 0 3rem;
        margin-bottom: 4rem;
        margin-top: 100px;
    }
}
@media (max-width: 1024px){
    .user-info{
        margin-top: 200px;
        text-align: center;
    }
}
@media (max-width: 992px){
    .user-info{
        padding: 0rem;
    }
}
@media (max-width: 768px){
    .user-info{
        margin-bottom: 5rem;
        padding: 0rem;
        margin-top: 100px;
    }
}