

.custom-input{
    gap: 2rem 1.5rem!important;
}

@media (max-width: 1365px){
    .custom-input{
        &__line{
            flex-direction: column;
            gap: 0 5rem!important;
             * {
                flex: 1;
                padding: 0.5rem 0;
            }
        }

        &__upload{
            gap: 0 1rem;
            flex-wrap: wrap;
            margin-top: -20px;
            
            *{
                font-size: 13px;
                width: 200px;
            }
        }

    }
}
@media (max-width: 1300px){
    .custom-input{
        &__upload{
            // display: flex;
            flex-wrap: wrap!important;
            flex-direction: column!important;
            align-items: center!important;
            justify-content: center!important;
            gap: 0 1rem!important;
            
        }
    }
}
@media (max-width: 600px){
    .custom-input{
        &__line{
            grid-gap: 0rem !important;
            gap: 0rem !important;
            flex-wrap: wrap !important;
            justify-content: center!important;
            flex-direction: row;
            width: 100%;
        }
    }
}
