
@import '../../../../assets/mixin';
@import '../../../../assets/variables';
.step3{
    width: 800px!important;
    height: auto;
    margin: 0 auto;
    // @include displayFlex();

    h3{
        text-transform: uppercase;
        color: $titleColor;
    }
    .MuiFormControlLabel-labelPlacementStart {
        flex: 0.7;
        justify-content: space-between;
    }
}
@media (max-width: 992px) {
    .step3{
        width: unset!important;
        height: unset!important;
        margin: unset!important;  
    }
}