
@import '../../../../assets/mixin';
.step3{
    height: auto;
    width: 100%;
    @include displayFlex(row, wrap, center, center);
    margin-bottom: 3rem;

    p{
        text-transform: uppercase;
        font-weight: 400;
    }

    span{
        color: red;
        font-weight: 500;
    }

    &__block{
        width: 100%;
        height: auto;
        @include displayFlex(row, wrap);
        gap:2rem;
    }
    
}