.step3{
    background-color: beige;
    background-image: url("../../../../assets/images/form3.png");
    background-size: cover;
    height: 500px;
    width: 100%;
    background-position-y: -50px;
}