.contact__form {
    width:50%;
    &-in {
        width: 30rem;
        /* border: 2px solid; */
        height: 35rem;
        // border: 2px solid;
        border-radius: 35px;
        background:rgb(247, 246, 246);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        margin-top:20px;
        position: relative;
        .contact__form-item {
            transform: translate(40px, 40px);
            height: 100px;
            & span {
                font-size: 1.1rem;
                font-weight: 500;
                margin-bottom: 10px;
            }
            &-input {
                width: 82%;
                border: 1px solid rgb(201, 199, 199);
                height:47px;
                border-radius: 10px;
                font-size: 1.3rem;
                transition: 0.2s ease-in-out;
                margin-top: 8px;
                position: relative;
                &--style{
                    width: auto;
                    height: auto;
                    border: none;
                    margin-top: 2px;
                    // float: right;
                    outline: none;
                    margin-left: 30px;
                    background: rgb(247, 246, 246);
                    font-size:1.2rem;
                    position: absolute;
                }
                & i {         
                    transform: translate(80%, 20%);
                }
            }
            &-input:hover {
                border:3px solid rgb(86, 145, 246);
                & i{
                    color: rgb(86, 145, 246);
                }
            }
            &-input2 {
                width: 83%;
                height: 170px;
                & textarea {
                    width: 100%;
                    height:100%;
                    border: none;
                    outline: none;
                    background:  rgb(239, 239, 241);
                    margin-top: 10px;
                    font-size: 1.1rem;
                    font-family:Arial, Helvetica, sans-serif
                }
            }
        }
        &-btn {
            position: absolute;
            transform: translate(54%, 180px);
        }
    }
}