
@import '../../assets/variables';
.main-content{
    height: calc(100vh - #{$headerHeigh});
    width: 100%;
    background: white;
    overflow-x: hidden;
}
.main-content::-webkit-scrollbar{
    display: none;
}