

$backgroundColor: #20274d;
$color1: #5392f9;
$gray1: #828b8d;
$textColor: #2a2a2e;
$textColor2: #f3f3f3;
$textColor3: #8ed1dc;
$basePadding: 0 7rem;


$headerHeigh : 80px;
$leftMenu : 5rem;
$optionDropdownWidth: 350px;