

$backgroundColor: #20274d;
$color1: #5392f9;
$color2: #1379ff;
$gray1: #828b8d;
$textColor: #2a2a2e;
$textColor2: #f3f3f3;
$textColor3: #8ed1dc;

$bgr-img: rgb(251, 250, 250);
$bgr-quotes: #f8667e;
$box-sd: 1px 2px 4px rgba(0, 0, 0, .2);
$basePadding: 0 7rem;
$titleColor: #20274d;


$basePadding: 0 7rem;
$avatarSize: 60px;

$headerHeigh : 60px;
$leftMenu : 5rem;
$optionDropdownWidth: 350px;

$img01-about-us: url('https://f20-zpc.zdn.vn/1865820435547557402/b561c819dffb2ca575ea.jpg');
$img02-about-us: url('https://f10.photo.talk.zdn.vn/5298396756387727370/62b214ca0328f076a939.jpg')