.user-form{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    flex-direction: column;

    &__info--wrapper{
        display: flex;
    }
    &__input{
        flex: 3;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem 1rem; 
    }
    &__avatar{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__avatar--wrapper{
        height: 12rem;
        width: 12rem;
        border-radius: 50%;
        background: red;
        background-image: url("../../../../assets/images/genshin_12_4K.jpg");
        background-size: cover;
    }
    &__submit-btn{
        margin-top: 3rem;
    }

}