
@import '../../assets/variables';

$paddingTop: 1rem;
$distance: 0.1rem;
$boxShadow: 1px 1px 7px rgb(199, 199, 199);

.item-details{
    margin-left: $leftMenu;
    padding: $basePadding;
    position: relative;
    display: flex;
    padding-bottom: 1rem;
    margin-top: 80px!important;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 280px;
        width: 100%;
        background-color: $backgroundColor;
        z-index: 0;
        transition: .25s;
    }

    &__img-hidden{
        display: none;
    }
    &__btn-hidden{
        display: none!important;
    }
    &__content{
        flex: 5;
        z-index: 1;
        height: auto;
    }
    &__header{
        padding-top: $paddingTop;
        > * {
            margin: 0.8rem 0rem;
            padding: 0;
            color: $textColor2;
        }

        h3, p{
            color: $textColor3;
        }
    }
    &__utility,
    &__request,
    &__info{
        margin-top: 2rem;
        color: $backgroundColor;
    }
    &__utility-content,
    &__request-content,
    &__info-content{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 1rem;
    }
    &__1-ultility,
    &__1-request{
        width: 25%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        font-weight: 500;
        height: 45px;
    }
    &__1-info{
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 2.5rem;
        color: $backgroundColor;
        font-weight: 500;
        height: 45px;
    }
    &__img-block{
        flex: 2;
        z-index: 1;
        height: 700px;
        background-color: white;
        box-sizing: border-box;
        margin-top: $paddingTop;
        box-shadow: $boxShadow;

    }

    &__img-wrapper{
        background: white;
        padding: $distance;

    }

    &__img--1{
        background-image: url("../../assets/images/genshin_12_4K.jpg");
        background-size: cover;
        height: 250px;
        flex: 1 100%;
        cursor: pointer;
    }
    &__sub-imgs{
        display: flex;
        margin-top: $distance;
        gap: $distance;
    }
    &__img{
        background-size: cover;
        height: 100px;
        flex: 1 33%;
        cursor: pointer;
    }
    &__img--2{
        background-image: url("../../assets/images/grass.jpg");
    }
    &__img--3{
        background-image: url("../../assets/images/blosom.jpg");;
    }
    &__img--4{
        background-image: url("../../assets/images/bloom.jpg");
    }

    &__content-btn{
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            color: $backgroundColor;
        }
    }

    &__comments{
        margin-top: 2rem;
        width: 100%;
        height: auto;
        background: white;
        box-sizing: border-box;

    }

    &__user-comment--block{
        box-shadow: $boxShadow;
        padding: 1rem;
        border-radius: 10px;

        h3 {
            margin: 0;
            margin-bottom: 1rem;
        }
    }

    &__user{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 1rem;
    }

    &__avatar{
        width: $avatarSize;
        height: $avatarSize;
        background: white;
        border-radius: 50%;
        background-image: url("../../assets/images/genshin_12_4K.jpg");
        background-size: cover;
    }

    &__another-comments{
        margin-top: 1.5rem;
        padding: 0 1rem;
        margin-bottom: 5rem;
    }
}

@media (max-width: 1350px){
    .item-details{
        &::after{
            height: 330px;
        }
    }
}
@media (max-width: 1240px){
    .item-details{
        margin-left: 0;

        &::after{
            height: 650px;
        }
        &__img-block{
            display: none;
        }
        &__img-hidden{
            margin-top: 1rem;
            display: block;
        }
        
        &__img-hidden{
            display: flex;
            flex-direction: row;
            gap: 0.1rem;
        }
        &__img--1{
            width: 60%;
            height: 350px;
            margin: 0;

        }
        &__sub-imgs{
            width: 40%;
            flex-direction: column;
            >*{
                height: 10px;
            }
        }

        &__btn-hidden{
            display: flex!important;
            flex-direction: row;
            flex-wrap: wrap;
            width: 875px;
            padding: 0 3rem;
            justify-content: center;
            align-items: center;
            > *{
                flex: 1;
            }
            h1{
                transform: translateX(50px);
            }
        }
    }
}
@media (max-width: 1024px){
    .item-details{
        margin-top: 170px!important;
        padding: 0 1rem;

    }
}
@media (max-width: 850px){
    .item-details{
        &__btn-hidden{
            flex-direction: column!important;
            width: unset!important;
            padding: 0!important;
            align-items: center;
            justify-content: center;
            h1{
                transform: translateX(-3px);
                margin: 0;
                margin-top: 1rem;
            }
        }
    }
}
@media (max-width: 769px){
    .item-details{
        margin-top: 100px!important;
    }
}
@media (max-width: 767px){
    .item-details{
        margin-top: 65px!important;
        padding: 0 1rem;

        &__1-ultility,
        &__1-request{
            width: 33%;
        }
        &__1-info{
            // padding-right: 0!important;
        }
        &__avatar{
            display: none;
        }
    }

}
@media (max-width: 690px){
    .item-details{
        &::after{
            height: 710px;
        }
    }
}
@media (max-width: 500px){
    .item-details{
        margin-top: 55px!important;
        &__header{
            h1{
                font-size: 22px!important;
            }
        }
        &::after{
            height: 600px;
        }
        &__1-ultility,
        &__1-request{
            width: 47%;
        }        
        &__1-info{
            width: 100%;
            padding-right: 0!important;
        }

        &__img-hidden{
            display: flex;
            flex-direction: column;
            gap: 0.1rem;
            height: 300px;
        }

        &__img--1{
            flex: 70%;
            width: 100%;
        }
        &__sub-imgs{
            flex: 30%;
            flex-direction: row;
            width: 100%;
        }
        &__img{
            flex: 33%;
            height: 100%;
        }
    }
}
@media (max-width: 450px){
    .item-details{
        padding:0 0.5rem!important;

        &::after{
            height: 615px;
        }
        &__img-hidden{
            padding: 0;
        }

        &__content{
            width: 100px!important;
        }
    }
}
@media (max-width: 375px){
    .item-details{
        &::after{
            height: 640px;
        }
        &__1-ultility,
        &__1-request{
            width: 100%;
        }
        &__1-info{
            
        }
    }
}