
@import '../../assets/variables';
.about-us{
    margin-left: $leftMenu;
    margin-top: calc(#{$headerHeigh} + 30px);
    padding: $basePadding;
    margin-bottom: 3rem;
    &__title{
        text-align: center;
        margin: 3rem 0;
        font-size: 40px;
        color: $titleColor;
    }

    &__details-wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 300px;
    }
    &__img,
    &__details{
        flex: 1;
        height: auto;
        display: flex;
    }
    &__img{
        height: 400px;
        width: 500px;
        display: flex;
        justify-content: flex-end;
        img{
            
            min-height: 100%;
        }
    }
    &__img--2{
        justify-content: flex-start;
    }
    &__img--3{
        margin-top: 3rem;
        justify-content: center;
    }
    &__details{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 0 3rem;
        p{
            width: unset;
        }
        & > * {
            margin: 0;
        }
    }
    &__details--2{
        align-items: flex-end;
    }
    &__purpose{
        font-size: 26px;
        color: $titleColor;
        font-weight: bold;
        position: relative;
        padding: 0 3rem;
        &::before{
            content: "\0022";
            font-size: 200px;
            position: absolute;
            top: -95px;
            left: -45px;
            height: 30px;
            width: 30px;
            color: rgb(219, 115, 18);
        }
        &::after{
            content: "\0022";
            font-size: 200px;
            position: absolute;
            top: 20px;
            left: 555px;
            height: 30px;
            width: 30px;
            color: rgb(219, 115, 18);
        }
    }
}
@media (max-width: 1400px){
    .about-us{
        &__img{
            background-position-y: 0;
        }
        &__purpose::after{
            left: 400px;
            top: 70px;
        }
    }
}
@media (max-width: 1240px){
    .about-us{
        margin-left: 0;
        &__details-wrapper{
            height: 350px;
        }
        &__purpose{
            width: 300px!important;
        }
    }
}
@media (max-width: 1024px){
    .about-us{
        margin-top: 200px;
        padding: 0;
        &__title{
            margin-bottom: 1rem;
        }
        &__details{
            padding: 0.5rem;
        }
        
    }
}

@media (max-width: 768px){
    .about-us{
        margin-top: 100px;
        &__details-wrapper{
            flex-direction: column;
            height: auto;
        }
        &__img{
            display: flex;
            justify-content: center;
            // align-items: center;
        }
        &__img--2,
        &__img{
            order: 1;
        }
        &__details,
        &__details--2{
            order: 2;
            justify-content: center;
            align-items: center;
            padding: 0 3rem;
            margin-top: -50px;
        }
        &__purpose--1{
            margin-top: 3rem;
            width: 400px!important;
        }
        &__purpose::after{
            left: 440px;
            top: 50px;
        }

    }
}
@media (max-width: 400px){
    .about-us{
        margin-top: 100px;
        margin-bottom: 8rem;
        &__title{
            font-size: 30px!important;
        }
        &__details,
        &__details--2{
           padding: 0 0.4rem;
        }
        &__img--3{
            margin-top: 0;
        }
        &__purpose::after,
        &__purpose::before{
            display: none;
        }
        &__purpose--1{
            width: 300px!important;
            margin-top: 0;
        }
    }
}