@import '../../assets/variables';




.about-us {
    margin-left: 5rem;
    width: 100%;
    height: 200%;
    display: grid;
    &__content {
        padding:7rem;
        margin: 0 auto;
    }
    &__title--style{
        text-align: center;
        text-shadow: $box-sd;
        margin-bottom: 2rem;
        & span{
            font-size: 2.5rem;
            color: #333;
            font-weight: 700;
        }
    &__img--style{
        width:60%;
        height:100%;
}
}
}
@media (min-width:1300) {
    .makeStyles-root-3 {
    }
}
@media (max-width: 1024px){
    .about-us {
        transform: none;
        height: 200%;
        width: 100%;
        margin-left: 0;
        &__content {
            padding: 7rem 3rem;
            .about-us__foundation {
                .about-us__details {
                    .about-us__details-01 {
                        display: flex;
                        flex-direction: column-reverse;
                        .about-us__img-01 {
                            width: 100%;
                        }
                    }
                    .about-us__details-02 {
                        margin-top: 30px;
                        flex-direction: column;
                        .about-us__img-02 {
                            width: 100%;
                        }
                    }
                }
            } 
            .makeStyles-root-15 {
                width: 100%;
            }
            .about-us__purpose {
                height: 15%;
                margin-top: 4rem;
                .about-us__content {
                    display: flex;
                    flex-direction: column;
                    // padding: 1rem 7rem;
                    .about-us__content-img {
                        width: 100%;
                    }
                    .about-us__content-text {
                        width: 80%;
                    }
                }
            }
            .makeStyles-root-3 {
                width: 100%;
                margin-bottom: 30px;
            }
        }
        
    }
    .about-us__purpose .about-us__content-text-span {
            transform: translate(20%, 10%);
        }
}
@media (max-width:500px) {
    .about-us {
        height: 50%;
        &__foundation {
            margin-top: 20%;
        }
        &__content {
            padding: inherit;
        }
        &__img--style {
            width: 100%;
            height: 100%;
        }
        &__purpose {
            .about-us__content{
                padding:7rem 1rem;
            }
            margin-top: 30%;
            height: 10%;
        }
    }
    .about-us__purpose .about-us__content-text-span {
        transform: translate(20%, 10%);
    }
}