@import '../../../../assets/variables';
.card-item {
    cursor: pointer;
    transform: all .25s;
    &__card--action{
        padding: 0px 8px!important;
    }
    &__details-p {
        // color: $color2;
    }
    &__popover{
        flex-direction: column!important;
        width: 100%!important;
        height: auto;
        box-shadow: none!important;
        gap: 0;
        margin-top: -35px;
        padding: 0!important;


       & > * {
           width: 100%!important;
           justify-content: flex-start!important;
           gap: 0 0.5rem;
           margin: 0!important;
           padding: 0!important;
           height: 35px;
        //    min-height: 45px;
           display: flex;
       }
    }
    &__address{
        height: 50px!important;
    }
    &__request{
        color: $backgroundColor;
    }
}
.card-item:hover{
    box-shadow: 0 0 7px rgb(156, 156, 156);
}

@media (max-width: 1550px){
    .card-item {
        max-width: 400px!important;
    }
}
@media (max-width: 1239px){
    .card-item {
        max-width: 320px!important;
        height: 370px!important;
    }
}
@media (max-width: 767px){
    .card-item {
        max-width: 300px!important;
        height: 370px!important;
    }
}
@media (max-width: 400px){
    .card-item {
        max-width: 300px!important;
        height: 370px!important;
    }
}