.card-item {
    cursor: pointer;
    transform: all .25s;
    &__card--action{
        padding: 0px 8px!important;
    }
}
.card-item:hover{
    box-shadow: 0 0 7px rgb(156, 156, 156);
}

@media (max-width: 1550px){
    .card-item {
        max-width: 400px!important;
    }
}
@media (max-width: 1239px){
    .card-item {
        max-width: 320px!important;
        height: 370px!important;
    }
}
@media (max-width: 767px){
    .card-item {
        max-width: 300px!important;
        height: 370px!important;
    }
}
@media (max-width: 400px){
    .card-item {
        max-width: 300px!important;
        height: 370px!important;
    }
}