
@import '../../assets/variables';
.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    margin-left: $leftMenu;
    margin-top: $menuHeight;
    font-family: Roboto;

    h1{
        margin: 0;
        margin-bottom: 1rem;
    }
}
@media (max-width: 1024px){
    .main-page{
        margin-left: 0;
    }
}
@media (max-width: 767px){
    .main-page{
        margin: 0;
        width: 100%;
        margin-top: 80px;
        margin-bottom: 3rem;

        h1{
            margin: 1rem;
            font-size: 24px;
        }
    }
}