
@import '../../assets/variables';
.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: $leftMenu;
}