
@import '../../assets/variables';
.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    margin-left: $leftMenu;
    margin-top: $headerHeigh;
}
@media (max-width: 1024px){
    .main-page{
        margin-left: 0;
        margin-top: 200px;
    }
}
// @media (max-width: 1023px){
//     .main-page{
//         margin-left: 0;
//         margin-top: 80px;
//     }
// }
@media (max-width: 767px){
    .main-page{
        margin: 0;
        width: 100%;
        margin-top: 80px;
    }
}