
@import '../../../../assets/variables';



.motel-form{
    display: flex;
    flex-direction: column;
    margin-top: 0rem;

    .MuiSelect-iconOutlined{
        right: 15px!important;
    }
    
    h2{
        color: $titleColor!important;
    }
    &__input{
        display: flex;
        align-items: flex-start;
        flex-direction: column;   
    }

    &__input--wrapper,
    &__friends{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem!important;
        padding: 0 4rem;
    }
    &__friends{
        margin-bottom: 1rem;
    }
    &__submit-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 1rem;
    }
}
.MuiSelect-select{
    display: flex!important;
    justify-content: flex-start!important;
}
@media (max-width: 1440px){
    .motel-form{
        margin-top: 0;
        padding: 0!important;
    }
}
@media (max-width: 1024px){
    .motel-form{
        margin-top: 0;
        padding: 0!important;
    }
}